body {
    --background:       #dddddd;
    --surface:          #ffffff;
    --primary:          #2196f3;
    --primary-var:      #1976D2;
    --secondary:        #00BCD4;
    --secondary-var:    #00BCD4;
    --on-background:    #676767;
    --on-surface:       #000000;
    --on-primary:       #FFFFFF;
    --on-secondary:     #FFFFFF;
    --error:            #FF5252;
    --divider:          #BDBDBD;

    --navbar-height: 4em;

    background-color: var(--background);
    font-family: Roboto, Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--on-background);
    box-sizing: border-box;
    vertical-align: baseline;
    margin: 0;

/* FONT SIZES */
  font-size: 13pt;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.00;
}
@media screen and (max-width: 1680px) {
  html {
    font-size: 11pt; } }
@media screen and (max-width: 980px) {
  html {
    font-size: 12pt; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 11pt; } }

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0 0 1.5rem 0;
    color: var(--on-background);
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    line-height: 1.2; }
h2 {
  font-size: 1.5rem;
  line-height: 1.3; }
h3 {
  font-size: 1.25rem; }
h4 {
  font-size: 1rem; }
h5 {
  font-size: 0.9rem; }
h6 {
  font-size: 0.7rem; }
@media screen and (max-width: 750px) {
  h1 {
    font-size: 2.75rem;
    line-height: 1.3; }
  h2 {
    font-size: 1.75rem;
    line-height: 1.5; }
  h3 {
    font-size: 1.25rem; } }

/* BOX LABEL */
div.box-label {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}


/* FORM */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--surface);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 0px 10px var(--divider);
    width: 80vw;
}
form > label {
    border: 0;
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}
div.form-group {
    border: 0;
    height: 2rem;
    width: 20rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13pt;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    background-color: var(--primary);
    color: var(--on-primary);
    border-radius: 0px;
    border: 0;
    box-shadow: 3px 3px 5px var(--divider);
    cursor: pointer;
    text-transform: uppercase;
}
button:hover {
    color: var(--secondary);
}
input, select {
    box-sizing: border-box;
    background-color: var(--background);
    border: 0;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    width: 20rem;
}
span.buttonset {
    display: flex;
    flex-direction: column;
    align-items: left;
}
input[type=radio] {
    display: none;
}
input[type="radio"] + *::before {
  content: "";
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--surface);
  margin-top: 0.6rem;
  margin-left: 6rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  border: 2px solid var(--primary);
}
input[type="radio"]:checked + *::before {
  background: var(--primary);
}
div.info {
    margin-top: 1rem;
    color: var(--on-surface);
    font-size: 0.9rem;
}
div.invalid-feedback{
    color: var(--error);
    font-size: 0.9rem;
}





/* TABLE */
div#table-holder {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    align-items: center;
    background-color: var(--surface);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 0px 10px var(--divider);
    width: 80vw;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 2px solid var(--divider);
}
table thead tr {
  border-bottom: 2px solid var(--divider);
}
table tbody tr {
  width: 100%;
  background-color: var(--surface);
}
table tbody tr:nth-child(2n + 1) {
    background-color: var(--background);
}
table td {
  padding: 0.75rem 0.75rem; }
table th {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0 0.75rem 0.75rem 0.75rem;
  text-align: left; }
table tfoot {
    border-bottom: solid 2px var(--divider)
}
table.alt {
  border-collapse: separate; }
  table.alt tbody tr td {
    border-left-width: 0;
    border-top-width: 0; }
    table.alt tbody tr td:first-child {
      border-left-width: 1px; }
  table.alt tbody tr:first-child td {
    border-top-width: 1px; }
  table.alt thead {
    border-bottom: 0; }
  table.alt tfoot {
    border-top: 0; }

table th {
  color: var(--on-surface); }
table thead {
  border-bottom-color: var(--divider);
}
table tfoot {
  border-top-color: var(--divider);
}
table.alt tbody tr td {
  border-color: var(--divider); }

/* MENU */
div.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    color: var(--on-primary);
    box-shadow: 0px 3px 5px var(--divider);
    height: var(--navbar-height);
    width: 100%;
    position: fixed;
}
a.navigation {
    color: var(--on-primary);
    text-decoration: none;
}
a.navigation:hover{
    color: var(--secondary);
}
div.nav-element {

}
div.nav-holder {
    width: 100%;
    height: var(--navbar-height);
}

/* NEW OBSERVATION FILTER */
div.form-filter {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div.filter-holder {
    margin: 1rem;
}

div.whale-result-holder {
    width: 80%;
    background: var(--background);
    display: flex;
    flex-direction: row;
    justify-contents: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;

}

div.whale-result::before {
    contents: '+';
}
div.whale-result{
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: var(--primary);
    color: var(--on-primary);
    font-weight: 600;
}

/* THINGS TO DO FOR MOBILE:
 * - For each width: 80%, change to 95% if on mobile.
 *
 *
 *
 */

