body {
    --background:       #dddddd;
    --surface:          #ffffff;
    --primary:          #2196f3;
    --primary-var:      #1976D2;
    --secondary:        #00BCD4;
    --secondary-var:    #00BCD4;
    --on-background:    #676767;
    --on-surface:       #000000;
    --on-primary:       #FFFFFF;
    --on-secondary:     #FFFFFF;
    --error:            #FF5252;
    --divider:          #BDBDBD;

    --navbar-height: 4em;
    --space-ratio: 80%;
    --small-space-ratio: 40%;

    background-color: var(--background);
    font-family: Roboto, Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--on-background);
    box-sizing: border-box;
    vertical-align: baseline;
    margin: 0;

  font-size: 13pt;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.00;
}

/* CHANGES PER SCREEN SIZE */
@media screen and (max-width: 1680px) {
  body {
    font-size: 11pt;
  }
}
@media screen and (max-width: 980px) {
  body {
    font-size: 11pt;
    --space-ratio: 90%;
    --small-space-ratio: 60%;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 10pt;
    --space-ratio: 95%;
    --small-space-ratio: 80%;

  }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0 0 1.5rem 0;
    color: var(--on-background);
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    line-height: 1.2; }
h2 {
  font-size: 1.5rem;
  line-height: 1.3; }
h3 {
  font-size: 1.25rem; }
h4 {
  font-size: 1rem; }
h5 {
  font-size: 0.9rem; }
h6 {
  font-size: 0.7rem; }

/* BOX LABEL */
div.box-label {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: var(--space-ratio);
}


/* FORM */
div.form-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*box-shadow: 0px 0px 10px var(--divider);*/
    width: var(--space-ratio);
    position: relative;
}
div.hidden-helper{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: var(--background);
}
div.hidden-helper:hover{
    color: var(--on-background);
}
div.form-holder-hrz {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--background);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*box-shadow: 0px 0px 10px var(--divider);*/
    width: var(--space-ratio);
    position: relative;
}
form.form-inline{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    height: 3rem;
}
form.form-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-box {
    margin-left: 1rem;
    margin-right: 1rem;
}
div.form-button-hbox{
    display: flex;
    flex-direction: row;
    margin-top: 0.4rem;
}

form > label {
    border: 0;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    align-self: flex-start;
}
form.form-vertical > div.form-group {
    border: 0;
    height: 2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
div.spacer {
    height: 2rem;
}
div.info {
    animation: fadeOut 1s ease 3s forwards;
}
@keyframes fadeOut{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13pt;

    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    background-color: var(--primary);
    color: var(--on-primary);
    border-radius: 0px;
    border: 0;
    box-shadow: 3px 3px 5px var(--divider);
    cursor: pointer;
    text-transform: uppercase;
}
button:hover {
    color: var(--secondary);
}
input.width8, select.width8 {

    width: 8rem;
}
input, select {
    box-sizing: border-box;
    background-color: var(--surface);
    border: 0;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    width: 20rem;
}

span.buttonset {
    display: flex;
    flex-direction: column;
    align-items: left;
}
input[type=radio] {
    display: none;
}
input[type="radio"] + *::before {
  content: "";
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--surface);
  margin-top: 0.6rem;
  margin-left: 6rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  border: 2px solid var(--primary);
}
input[type="radio"]:checked + *::before {
  background: var(--primary);
}
div.info {
    margin-top: 1rem;
    color: var(--on-surface);
    font-size: 0.9rem;
}
div.invalid-feedback{
    color: var(--error);
    font-size: 0.9rem;
}




/* TABLE */
div.table {
    width: var(--space-ratio);
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--divider);
    border-top: 2px solid var(--divider);
    background-color: var(--surface);
    color: var(--on-surface);
}
div.header {
    background-color: var(--background);
    color: var(--on-background);
    border: 0px;
}
div.row > div.cell {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    text-align: center;
    width: 8rem;
}
div.subtable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
}
div.subtable > div.row {
    background-color: var(--background);
    border: 0px;
}



/* TABLE 1 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: var(--space-ratio);
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid var(--divider);

}
table thead tr {
  border-bottom: 2px solid var(--divider);
  width: 100%;
}
table tbody tr {
  width: 100%;
  background-color: var(--surface);
  border-bottom: 2px solid var(--divider);
}
table td {
  padding: 0.75rem 0.75rem;
}
table th {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.75rem 0.75rem;
  text-align: left;
}
table tfoot {
    border-bottom: solid 2px var(--divider)
}
table.alt {
  border-collapse: separate; }
  table.alt tbody tr td {
    border-left-width: 0;
    border-top-width: 0; }
    table.alt tbody tr td:first-child {
      border-left-width: 1px; }
  table.alt tbody tr:first-child td {
    border-top-width: 1px; }
  table.alt thead {
    border-bottom: 0; }
  table.alt tfoot {
    border-top: 0; }

table th {
  color: var(--on-surface); }
table thead {
  border-bottom-color: var(--divider);
}
table tfoot {
  border-top-color: var(--divider);
}
table.alt tbody tr td {
  border-color: var(--divider); }

/* MENU */
div.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    color: var(--on-primary);
    box-shadow: 0px 3px 5px var(--divider);
    height: var(--navbar-height);
    width: 100%;
    position: fixed;
    z-index: 3;
}
a.navigation {
    color: var(--on-primary);
    text-decoration: none;
}
a.navigation:hover{
    color: var(--secondary);
}
div.nav-element {

}
div.nav-holder {
    width: 100%;
    height: var(--navbar-height);
}

/* HOMEPAGE */
div.homebox {
    padding: 4rem;
    box-sizing: border-box;
    width: var(--small-space-ratio);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
    background-color: var(--surface);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
img.logo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}





/* GRAPHS */
div.graph-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--surface);
    /*box-shadow: 0px 0px 10px var(--divider);*/

    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: var(--space-ratio);
    padding: 2em;
    height: 60vh;
}
canvas{
}
div.graph-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
}
div.graph-loading-spinner {
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
div.graph-loading > h4 {
    margin-top: 2rem;
}

@-webkit-keyframes sk-rotateplane { /* Sourced from: https://tobiasahlin.com/spinkit/ */
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes sk-rotateplane { /* Sourced from: https://tobiasahlin.com/spinkit/ */
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* FOOTER */
div.footer{
    width: var(--space-ratio);
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: var(--on-background);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div.footer-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2rem;
    margin-right: 2rem;
}
.footer-cell{
    margin-top: 0.5rem;
}




