body {
    --background-far:  #ccc; /* #222222 */
    --background-close:  #797979; /* #222222 */
    --accent-color:  #5db0d3; /* #5db0d3 */
    --accent-color-secondary:  #f29766; /* #f29766 */
    --text-colour-primary:  #c0c0c0; /* #c0c0c0 */
    --text-colour-secondary:  #aaaaaa; /* #aaaaaa */
    background-color: var(--background-far);
    font-family: Roboto, Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color-primary);
    margin: 5vw 5vw 0;
    box-sizing: border-box;
    vertical-align: baseline;
}



/* FONT SIZES */
body {
  font-size: 13pt;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.00;
}
@media screen and (max-width: 1680px) {
  html {
    font-size: 11pt; } }
@media screen and (max-width: 980px) {
  html {
    font-size: 12pt; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 11pt; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
  color: var(--text-color-primary); }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none; }

h1 {
  font-size: 3rem;
  line-height: 1.2; }
h2 {
  font-size: 2.25rem;
  line-height: 1.3; }
h3 {
  font-size: 1.25rem; }
h4 {
  font-size: 1rem; }
h5 {
  font-size: 0.9rem; }
h6 {
  font-size: 0.7rem; }
@media screen and (max-width: 750px) {
  h1 {
    font-size: 2.75rem;
    line-height: 1.3; }
  h2 {
    font-size: 1.75rem;
    line-height: 1.5; }
  h3 {
    font-size: 1.25rem; } }


hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2rem 0; }
  hr.major {
    margin: 4rem 0; }


/* FORM */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    font-size: 13pt;
    padding: 0;
    width: 20em;
    background-color: var(--accent-color);
    border-radius: 5px;
    border: 2px solid black;
}
input, select {
    background-color: var(--background-close);
    border-radius: 5px;
    border: 2px solid black;
    height: 2em;
}
input, select, span.buttonset {
    width: 20em;
}
span.buttonset {
    display: flex;
    flex-direction: column;
    align-items: left;

}
input[type=radio] {
    display: none;
}
input[type="radio"] + *::before {
  content: "";
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  width: 0.8em;
  height: 0.8em;
  background-color: var(--background-close);
  margin-top: 0.6em;
  margin-left: 6em;
  margin-right: 0.5em;
  border-radius: 50%;
  border: 2px solid black;
}
input[type="radio"]:checked + *::before {
  background: var(--accent-color);
}
dl {
    display: flex;
    flex-direction: column;
    align-items: center;
}
dd {
    margin-top: 0.2em;
    margin-bottom 0.2em;
    margin-inline-start: 0;
}
dd.error{
    color: red;
    font-size: 0.9rem;
}
dd.info {
    font-size: 0.8rem;
}
dt {
    width: 100%;
    align-self: center;
}



/* TABLE */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 2rem 0;
  width: 100%;
}
table tbody tr {
  border-top: 1px solid black;
  background-color: var(--background-close);
}
table tbody tr:nth-child(2n + 1) {
    background-color: var(--background-far);
}
table td {
  padding: 0.75rem 0.75rem; }
table th {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0 0.75rem 0.75rem 0.75rem;
  text-align: left; }
table thead {
  border-bottom: solid 2px; }
table tfoot {
  border-top: solid 2px; }
table.alt {
  border-collapse: separate; }
  table.alt tbody tr td {
    border: solid 1px;
    border-left-width: 0;
    border-top-width: 0; }
    table.alt tbody tr td:first-child {
      border-left-width: 1px; }
  table.alt tbody tr:first-child td {
    border-top-width: 1px; }
  table.alt thead {
    border-bottom: 0; }
  table.alt tfoot {
    border-top: 0; }

table th {
  color: var(--text-color-primary); }
table thead {
  border-bottom-color: rgba(0, 0, 0, 0.25); }
table tfoot {
  border-top-color: rgba(0, 0, 0, 0.25); }
table.alt tbody tr td {
  border-color: rgba(0, 0, 0, 0.25); }






