@()

  @main("Welcome") {
    <html lang="en">
      <head>
        <title>Welcome</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
      </head>
      <body>
        <div class="navigation">
          <ul>
            <li><a href="@routes.WhaleController.index()">Home</a></li>
            <li><h><a href="@routes.WhaleController.listWhales">@routes.WhaleController.listWhales</a></li>
            <li><a href="">Observations</a></li>
            <li><a href="">Stats</a></li>
          </ul>
        </div>
      </body>
    </html>
  }
