@()
<section id="content">
  <div class="wrapper doc">
    <img src="assets/images/uvic_logo.jpeg" alt="Uvic Logo" class="small-5 medium-4 large-3" />
    <article>
      <h2>Welcome to Report a Whale Sighting!</h2>
      <p>This is the home page for the Whale Sighting report!</p>
      <p>If you loaded this page from the web server running on <code>localhost:9000</code>, congratulations! You have
        successfully built and run a Play application. </p>
      <p>All the best for your final exercise!</p>
      <p>Info on Project structure:
      <ul>
      <li>images at: public/images/</li>
      <li>javascript files at: public/javascripts/</li>
      <li>CSS at: public/stylesheets</li>
      <li>all application routes to be mentioned at conf/routes</li>
      <li>java files at app/controllers/</li>
      <li>HTML files at app/views/ (they should be in format filename.scala.html)</li>
    </ul>
        </p>


    </article>
  </div>
</section>

