@import play.mvc.Http.Request
@import views.html.helper.options
@(observations: Seq[Observation], form: Form[ObservationData])(implicit request: Request, messages: play.i18n.Messages)

@main("observations") {
    <html lang="en">
        <head>
            <title>Observations</title>
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        </head>
        <body>
            <div class="navigation">
                <ul>
                    <li><a href="@routes.WhaleController.index()">Home</a></li>
                    <li><a class="navigation" href="@routes.ObservationController.listObservations"><i class="fa fa-eye"></i> @routes.ObservationController.listObservations</a></li>
                    <li><a href="">Observations</a></li>
                    <li><a href="">Stats</a></li>
                </ul>
            </div>
            <h1>Observations</h1>


            @request.flash.asScala().data.map { case (name, value) =>
            <div class="@name">@value</div>
            }

            <table>
                <thead>
                    <tr><th>Location</th><th>Date and Time</th></tr>
                </thead>
                <tbody>
                @for(o <- observations) {

                    <tr><td>@o.location</td><td>@o.time</td></tr>
                    int i = 0;
                    while(i < 3) {
                            <tr><th>whale i</th></tr>
                        i++;
                    }
                }
                </tbody>
            </table>

            @b4.vertical.form(routes.WhaleController.createWhale) { implicit vfc =>
                @helper.CSRF.formField
                <label>weight</label>
                @b4.text( form("weight"))
                <label>gender</label>
                @b4.select( form("gender"), options = Seq("Male" -> "Male", "Female" -> "Female", "Unknown" -> "Unknown"))
                <label>species</label>
                @b4.select( form("species"), options = Seq("Orca" -> "Orca", "Blue" -> "Blue", "Beluga" -> "Beluga", "Minke" -> "Minke", "Fin" -> "Fin", "Humpback" -> "Humpback", "Killer" -> "Killer", "Sei" -> "Sei", "Sperm" -> "Sperm", "Bowhead" -> "Bowhead"))
                <button type="submit">Create Whale</button>
            }
        </body>
    </html>

}