@import play.mvc.Http.Request
@import views.html.helper.options
@(Whales: Seq[Whale], form: Form[WhaleData])(implicit request: Request, messages: play.i18n.Messages)

@main("Whales") {
    <html lang="en">
    <head>
        <title>Whales</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>
    <body>
    <div class="navigation">
        <div class="nav-element" >
            <a class="navigation" href="@routes.WhaleController.index()"><i class="fa fa-home"></i> Home</a>
        </div>
        <div class="nav-element" >
            <a class="navigation" href="@routes.WhaleController.listWhales"><i class="fa fa-eye"></i> @routes.WhaleController.listWhales</a>
        </div>
        <div class="nav-element" >
            <a class="navigation" href=""><i class="fa fa-search"></i> Observations</a>
        </div>
        <div class="nav-element" >
            <a class="navigation" href=""> <i class="fa fa-bar-chart"></i> Stats</a>
        </div>
    </div>
    <div class="nav-holder"></div>

    <div class="box-label">
        <h3>Observations</h3>
    </div>

    <div id="table-holder">
        <table>
            <thead>
                <tr><th>Species</th><th>Weight</th><th>Gender</th><th>ID</th></tr>
            </thead>
            <tbody>
            @for(w <- Whales) {
                <tr><td>@w.species</td><td>@w.weight</td><td>@w.gender</td><td>@w.id</td></tr>
            }
            </tbody>
        </table>
        <button onclick="changeTheme('dark');">DARK</button>
        <button onclick="changeTheme('light');">LIGHT</button>
    </div>

    <div class="box-label">
        <h3>Add New Whale</h3>
    </div>
    @b4.vertical.form(routes.WhaleController.createWhale) { implicit vfc =>
        @helper.CSRF.formField
        <label>weight</label>
        @b4.text( form("weight"))
        <label>gender</label>
        @b4.select( form("gender"), options = Seq("Male" -> "Male", "Female" -> "Female", "Unknown" -> "Unknown"))
        <label>species</label>
        @b4.select( form("species"), options = Seq("Orca" -> "Orca", "Blue" -> "Blue", "Beluga" -> "Beluga", "Minke" -> "Minke", "Fin" -> "Fin", "Humpback" -> "Humpback", "Killer" -> "Killer", "Sei" -> "Sei", "Sperm" -> "Sperm", "Bowhead" -> "Bowhead"))
        <button type="submit"></i>Create</button>
    @request.flash.asScala().data.map { case (name, value) =>
        <div class="@name">@value</div>
    }
    }
    </body>
    </html>

}
