@(Whales: List[Whale], observations: List[Observation])

@main("Stats About Whales") {
<html lang="en">
<head>
    <title>Stats About Whales</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon-32x32.png")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
<div class="navigation">
    <div class="nav-element" >
        <a class="navigation" href="@routes.ParentController.index()"><i class="fa fa-home"></i> Home</a>
    </div>
    <div class="nav-element" >
        <a class="navigation" href="@routes.ParentController.listWhales"><i class="fa fa-eye"></i>Whales</a>
    </div>
    <div class="nav-element" >
        <a class="navigation" href="@routes.ParentController.listObservations"><i class="fa fa-search"></i>Observations</a>
    </div>
    <div class="nav-element" >
        <a class="navigation" href="@routes.ParentController.stats"> <i class="fa fa-bar-chart"></i> Stats</a>
    </div>
</div>
<div class="nav-holder"></div>

<div class="box-label">
    <h3>Graph #1: Number of Whales</h3>
</div>
<div class="graph-holder" id="graph-1" >
    <div class="graph-loading">
        <div class="graph-loading-spinner" ></div>
        <h4 class="graph-loading-message">Please wait...</h4>
    </div>
</div>

<div class="box-label">
    <h3>Graph #2: Average Weight of Each Species</h3>
</div>
<div class="graph-holder" id="graph-2" >
    <div class="graph-loading">
        <div class="graph-loading-spinner" ></div>
        <h4 class="graph-loading-message">Please wait...</h4>
    </div>
</div>

<div class="box-label">
    <h3>Graph #3: Amount of Observations Made Per Month</h3>
</div>
<div class="graph-holder" id="graph-3" >
    <div class="graph-loading">
        <div class="graph-loading-spinner" ></div>
        <h4 class="graph-loading-message">Please wait...</h4>
    </div>
</div>

<div class="footer" >
    <div class="footer-col">
        <h4 class="footer-cell">A SENG330 Project</h4>
    </div>
</div>
<img class="logo" src="@routes.Assets.versioned("images/logo.png")" >


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script rel="text/javascript" src="@routes.Assets.versioned("javascripts/stats.js")"></script>
<script>
        loadGraphs( 'graph-1', 'graph-2', 'graph-3' );
</script>
</html>
}